!!! 5

%html
  %head
    %title Joseph (YOLK) Chiocchi
    %link{:href => "stylesheets/screen.css", :media => "screen, projection", :rel => 'stylesheet', :type => 'text/css'}
  %body
    %div{:id => "info", :class => "page"}
      %p
        Joseph 
        %abbr{:title => "key-YOLK-key"}
          Chiocchi
        creates
        %a{:href => "http://www.flickr.com/photos/yyolk/"} 
          %em
            images
        and
        %a{:href => "http://vimeo.com/yyolk"}
          %em 
            video
        \.
    %div{:id => "infopara" , :class => "page"}
      .indent
        
        %hr{:class => "space"}

        %p
          %a{:href => "http://yolk.cc/contact.html"} Contact
        %p
          %a{:href => "https://docs.google.com/viewer?a=v&pid=explorer&chrome=true&srcid=0B8IN6XOKkwRTOTU1ZTVlOGUtMTAwMy00ZWJjLTk3OTAtZDQzMjgxNzRhZGNh&hl=en_US"} CV
        
        -#
          %p
            %a{:href => "http://yolk.cc"} Portfolio / Work
        
        %hr{:class => "space"}

        %p
          %a{:href => "http://flickr.com/photos/yyolk"} Flickr
        %p
          %a{:href => "http://vimeo.com/yyolk"} Vimeo
        %p
          %a{:href => "http://soundcloud.com/yolk"} Soundcloud
        %p
          %a{:href => "http://youtube.com/yolkyyolk", :alt => "YOLKYYOLK : YOUTUBE" } YouTube



      %hr.space
        
        %p
          %a{:href => "http://yolk.cc", :alt => "YOLK" , :title => "YOLK"} Y O L K

      -#
        %p Websites:
        .indent
          %p
            %a{:href => "http://flow.yolk.cc"} FLOW &asymp;
          %p
            %a{:href => "http://paternsaremyfeelings.yolk.cc"} PATTERNS ARE MY FEELINGS
          %p
            %a{:href => "http://yolk.cc"} Y O L K
          %p
            %a{:href => "fundamentals.yolk.cc"} Fundamentals
          %p
            %a{:href => "http://mythoughtsareyours.yolk.cc"} MY THOUGHTS ARE YOURS
          -# 
            %p
              %a{:href => "http://listentomyheart.cc"} LISTEN TO MY HEART
          -#
            %p
              %a{:href => "http://bit.ly/BROADCAST"} ((BROADCAST))
        
        %hr{:class => "space"}
        %p Elsewhere:
        .indent
          %p
            %a{:href => "http://trunk.ly/yolk/"} Trunk.ly
          %p
            %a{:href => "http://pinboard.in/u:yolk"} Pinboard
          %p
            %a{:href => "https://picasaweb.google.com/input.output"} Outputs

  %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"}
  %script{:type => "text/javascript", :src => "js/jquery.color.js", :charset => "utf-8"}

  :javascript
    $($(document).ready(function() {
            
            spectrum();
            
            function spectrum(){
                var hue = 'rgb(' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ')';
                $('body').animate( { backgroundColor: hue }, Math.floor(Math.random()*3000));
                spectrum(); 
            }
            
    }));

  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-5567846-8']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();


